#multidimensional-disadvantage-wrap p, #multidimensional-disadvantage-wrap option{
	font-size:15px;
	font-family:arial, helvetica, sans;
	line-height:1.25em;
	margin:0;
	color:#333333;
}
#multidimensional-disadvantage-wrap text{font-family:arial, helvetica, sans;}


#multidimensional-disadvantage-wrap select{
	background-color:#ffffff;
	padding:5px;
	border: 1px solid #aaaaaa;
	outline: 0px solid #aaaaaa;

	font-size:15px;
	font-family:arial, helvetica, sans;
	line-height:1.25em;
}
#multidimensional-disadvantage-wrap select:focus{
	border:1px solid #aaaaaa;
}


#multidimensional-disadvantage-wrap{
	background-color:#ffffff;
	min-height:300px;
	max-width:950px;
}

#multidimensional-disadvantage-wrap .half-width{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	padding:2px 2px;
	width:50%;
	max-width:410px;
	margin:0px;
	border:0px solid #aaaaaa;
}

#multidimensional-disadvantage-wrap .one-fifth{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float:left;
	padding:5px;
	width:20%;
	margin:0px;
	border:0px solid #aaaaaa;
}

#multidimensional-disadvantage-wrap .c-fix:after{
  content:"";
  clear:both;
  display:table;
}

#multidimensional-disadvantage-wrap rect{shape-rendering:crispEdges;}

#multidimensional-disadvantage-wrap p.responsive-text{font-size:13px;}
#multidimensional-disadvantage-wrap text.responsive-text{font-size:28px;}


@media (min-width:0px){
	#multidimensional-disadvantage-wrap p.responsive-text{font-size:9px;}
	#multidimensional-disadvantage-wrap text.responsive-text{font-size:15px
}
@media (min-width:400px){
	#multidimensional-disadvantage-wrap p.responsive-text{font-size:11px;}
	#multidimensional-disadvantage-wrap text.responsive-text{font-size:20px
}
@media (min-width:640px){
	#multidimensional-disadvantage-wrap p.responsive-text{font-size:13px;}
	#multidimensional-disadvantage-wrap text.responsive-text{font-size:28px
}
